html {
  font-family: arial;
  background: #9b2a2a;
background: linear-gradient(90deg, rgba(155, 42, 42, 1) 0%, rgba(98, 87, 199, 1) 50%);
  color: white;
	
}
button {
	box-shadow:inset 0px -3px 7px 0px #29bbff;
	background:linear-gradient(to bottom, #2dabf9 5%, #0688fa 100%);
	background-color:#2dabf9;
	border-radius:42px;
	border:1px solid #0b0e07;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:9px 23px;
	text-decoration:none;
	text-shadow:0px 1px 0px #263666;
}
button:hover {
	background:linear-gradient(to bottom, #0688fa 5%, #2dabf9 100%);
	background-color:#0688fa;
}
button:active {
	position:relative;
	top:1px;
}

